<div id="<%= dom_id article %>">
  <div class="position-relative ">
    <%= image_tag article.preview_img, class: "img-abs-cover" if article.preview_img.present?  %>
  </div>

  <h1 class="h2 text-center">
    <%= article.title %>
  </h1>
  <p> <%= article.content %> </p>
</div>
