<div class="container">
  <%= render @article %>

  <div class="row">
    <div class="col-6">
      <%= link_to t('article.buttons.back_to'), articles_path, class:"btn btn-secondary" %>
    </div>

    <div class="col-6 d-flex justify-content-end column-gap-3">
      <% if can? :manage, @article %>
        <%= link_to t('article.buttons.edit'), edit_article_path(@article), class:"btn btn-secondary" %>
        <%= button_to t('article.buttons.destroy'), @article, method: :delete, class:"btn btn-secondary" %>
      <% end %>
     </div>
  </div>
</div>